.add_shape{
    background-color: #FFFDD0;
    border: 3px solid #FCF7B9;
}

.canvas{
    padding-left: 4em;
    padding-right: 4em;
}

.prop_card {
    border: 3px solid #5B79B1;
    border-radius: 10px;
}

.prop_color {
    background-color: #5B79B1;
    color: #f5f5f5;
}

.Circle-shape {
    background-color: lightcoral;
    border-radius: 50%;
}

.Square-shape{
    background-color:lightblue;
}

.Rectangle-shape{
    background-color: lightgreen;
}

